@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(255, 250, 247);
}

.border-active {
  border-color: #c7a28b;
}
.border-inactive {
  border-color: rgb(255, 250, 247);
}
